* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow-x: hidden;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.container {
  background-color: brown;
  margin: 2rem 20rem 0;
  padding: 2% 5% 4%;
  display: grid;
  width: min (100%, 80rem);

  grid-template-rows: flex;
  grid-template-columns: 120px, 400px 1fr;
  gap: 20px 100px;

  grid-template-areas:
    ". image"
    "header about"
    "contact about"
    "education experience"
    "contact-form experience"
    "contact-form skills"
    "contact-form soft-skills"
    "result-container result-container"
    ". footer";
}

section,
.header,
.footer,
.result-container {
  background-color: rgb(122, 21, 21);
  padding: 20px;
  color: white;
  font-size: 15px;
}

.image {
  display: flex;
  margin: center;
  flex-wrap: wrap;

  height: 16rem;
  max-width: 960px;

  background-image: url("/profPic2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  align-items: bottom;
}

.c,
.ed {
  background-color: rgba(210, 105, 30, 0.267);
  border: 3px solid black;
  border-radius: 0% 99% 0% 0%;
  padding: 5px;
}

.header {
  grid-area: header;
}

.about {
  grid-area: about;
}

.contact {
  grid-area: contact;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.skills {
  grid-area: skills;
}

.contact-form {
  grid-area: contact-form;
}

.soft-skills {
  grid-area: soft-skills;
}

.result-container {
  grid-area: result-container;
  display: none;
}

.description {
  display: none;
}

.footer {
  display: inline-block;
  background-color: blanchedalmond;
  grid-area: footer;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

li {
  margin-left: 1rem;
}

ul {
  padding: justify;
  color: white;
  background-color: black;
  padding: 5px;
}

p,
.contactInfo,
.educationInfo,
.aboutInfo,
.stayNest,
h3 {
  padding: justify;
  color: white;
  display: block;
  background-color: black;
  padding: 5px;
}

a:link,
li {
  color: white;
  text-decoration: none;
}

a:visited {
  color: blanchedalmond;
  text-decoration: none;
}

a:hover {
  color: brown;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
}

a:active {
  color: rgba(210, 105, 30, 0.432);
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
  display: inline-flexbox;
  text-align: justify;
}

input,
textarea {
  background-color: black;
  color: white;
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  height: 8rem;
}

button {
  background-color: rgb(160, 1, 1);
  color: white;
  border: 1px solid black;
  padding: 8px 18px 13px;
  border-radius: 20% 20% 50% 50%;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(160, 1, 1, 0.445);
}

/*Mobile*/
@media (max-width: 480px) {
  header,
  ul,
  li,
  a,
  main,
  section,
  footer,
  p {
    font-size: 11px;
  }

  .container {
    margin: 0px 0px 0px 0px;
    padding: 1px;
    grid-template-rows: 135px;
    grid-template-columns: 150px 235px 1fr auto;
    gap: 1px;

    grid-template-areas:
      "image about"
      "header about"
      "contact about"
      "education about"
      "skills experience"
      "soft-skills experience"
      "contact-form contact-form"
      "result-container result-container"
      "footer footer";
  }

  .image,
  .header,
  .contact,
  .education,
  .skills,
  .soft-skills {
    padding: 6%;
    width: 98%;
  }

  .about,
  .experience {
    padding: 3%;
  }

  .contact-form,
  .result-container {
    padding: 2% 0 15% 10px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 12px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
  }

  button{
    height: 20px;
    width: auto;
    font-size: 12px;
    padding: 2px 16px 19px;
  }

  footer {
    height: 1%;
  }
}
